<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.servlet.Login</servlet-class>

    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreateEmployee</servlet-name>
        <servlet-class>com.servlet.CreateEmployee</servlet-class>

    </servlet>
    <servlet-mapping>
        <servlet-name>CreateEmployee</servlet-name>
        <url-pattern>/CreateEmployee</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreateService</servlet-name>
        <servlet-class>com.servlet.CreateService</servlet-class>

    </servlet>
    <servlet-mapping>
        <servlet-name>CreateService</servlet-name>
        <url-pattern>/CreateService</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>CreateSubscriber</servlet-name>
        <servlet-class>com.servlet.CreateSubscriber</servlet-class>

    </servlet>
    <servlet-mapping>
        <servlet-name>CreateSubscriber</servlet-name>
        <url-pattern>/CreateSubscriber</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreateSIM</servlet-name>
        <servlet-class>com.servlet.CreateSIM</servlet-class>

    </servlet>
    <servlet-mapping>
        <servlet-name>CreateSIM</servlet-name>
        <url-pattern>/CreateSIM</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>CreateBill</servlet-name>
        <servlet-class>com.servlet.CreateBill</servlet-class>

    </servlet>
    <servlet-mapping>
        <servlet-name>CreateBill</servlet-name>
        <url-pattern>/CreateBill</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>SearchBill</servlet-name>
        <servlet-class>com.servlet.SearchBill</servlet-class>

    </servlet>
    <servlet-mapping>
        <servlet-name>SearchBill</servlet-name>
        <url-pattern>/SearchBill</url-pattern>
    </servlet-mapping>


</web-app>